<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="file_location" value="file_uploads\" />
    <add key="suject" value="IHL email" />
    <add key="Fromemail" value="vinod.prajapati89@gmail.com" />
    <add key="send_emailto_ihl" value="vinod.prajapati89@gmail.com" />

  </appSettings>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
  
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    
     
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
      </assemblies>
    </compilation>
     
    <customErrors mode="Off"/>

  </system.web>
  <connectionStrings>
    <!--<add name="MySQL_conn" connectionString="datasource=127.0.0.1;port=3306;username=root;password=root;database=ihl;"/>-->

    <!--<add name="MySQL_conn" connectionString="datasource=208.91.199.11;port=3306;username=IHLL_DB;password=!HLL@DB123;database=india4wv_;"/>-->

    <add name="MySQL_conn" connectionString="data source=208.91.198.174;user id=IHLL_M_SQL;password=!HLL@DB123;database=india4wv_;"/>


    <!--<add name="MySQL_conn" connectionString="data source=.;Integrated Security=True;database=test;"/>-->
    
  </connectionStrings>
 
</configuration>
